<h1>Stupid Coaching</h1>
<div>
  <p class="text"><%=@question %></p>
  <p><em>-You</em></p>
</div>
<div>
  <p class="text"><%=@answer%></p>
  <p><em>-Your coach</em></p>
</div>
<p class="link"><%= link_to "Ask a new question", "/ask" %></p>
